*
!README.md

!os/
!os/**

!nix/
!nix/**
nix/result

!kitty/
!kitty/**

!zsh/
!zsh/**
zsh/.zsh_history
zsh/.zsh_sessions
zsh/.zcompdump
zsh/.zcompcache

!less/
!less/**
less/.lesshst

!nvim/
!nvim/**

!bat/
!bat/**

!tmux/
!tmux/**
tmux/plugins/

!rules/
!rules/**
rules/**/node_modules

!yazi
!yazi/**

!mpv
!mpv/**
mpv/watch_later

