*
!README.md

!kitty/
!kitty/**

!zsh/
!zsh/**
zsh/plugins
zsh/.zsh_history
zsh/.zcompdump
zsh/.zcompcache

!tmux/
!tmux/**
tmux/plugins/

!nvim/
!nvim/**

!rules/
!rules/**

!ranger
!ranger/**
ranger/**/__init__.py
ranger/**/__pycache__

!mpv
!mpv/**
mpv/watch_later

